{% extends 'base.html.twig' %}

{% block title %}Produits filtrés{% endblock %}

{% block body %}
<div class="container"><br>
<h1>{{ subCategory.name }}</h1>
    <div class="row">
        {% for product in products %}
            <div class="col-md-4 mb-3">
                <div class="card" style="width: 18rem;">
                    {% if product.image %}
                        <img src="{{ asset('uploads/images/' ~ product.image) }}" class="card-img-top" alt="{{ product.name }}">
                    {% else %}
                        <img src="https://placehold.co/286x180" class="card-img-top" alt="no image">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">
                            <a style="text-decoration:none; color: #1126da;" href="{{ path('app_home_product_show',{'id':product.id}) }}">{{ product.name }}</a>
                        </h5>
                        <p class="card-text">{{ product.description|slice(0,50) }}</p>
                        <a href="#" class="btn btn-primary">Ajouter au panier</a>
                    </div>
                </div>
            </div>
        {% else %}
            <p class="text-center">Aucun produit trouvé dans cette sous-catégorie</p>
        {% endfor %}
    </div>
    <a href="{{ path('app_home') }}" class="btn btn-outline-secondary mt-3">Retour à l'accueil</a>
</div>
{% endblock %}