{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container"><br>
<div class="card mb-12" style="margin-top: 70px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ asset('uploads/images/' ~ product.image) }}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h1 class="card-title">{{ product.name }}</h1>
        <p class="card-text">{{ product.description }}</p>
        <h3>{{ product.price }} DT</h3>
        <a href="{{ path('app_cart_new', {'id': product.id}) }}" class="btn btn-success">add to card</a>
      </div>
    </div>
  </div>  
</div>


<h2>Last Products Added</h2>

<div class="row">
        {% for product in products %}
            <div class="col-md-4 mb-3">
                <div class="card" style="width: 18rem;">
                    {% if product.image %}
                        <img src="{{ asset('uploads/images/' ~ product.image) }}" class="card-img-top" alt="{{ product.name }}">
                    {% else %}
                        <img src="https://placehold.co/286x180" class="card-img-top" alt="no image">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">
                        <a style="text-decoration:none; color: #1126da;" href="{{ path('app_home_product_show',{'id':product.id}) }}">{{ product.name }}</a>
                        </h5>
                        <p class="card-text">{{ product.description|slice(0,50) }}</p>
                        <h3>{{ product.price }} DT</h3>
                    <a href="{{ path('app_cart', {'id': product.id}) }}" class="text-success text-decoration-none">add to card</a>
                    </div>
                </div>
            </div>
        {% else %}
            <p>Aucun produit trouvé</p>
        {% endfor %}
    </div>
</div>
{% endblock %}